/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{ font: 16px/1.6 'Roboto', sans-serif;  }
body p{ font: 16px/1.6 'Roboto', sans-serif; }
h1{ font-size: 28px; margin: 15px 0 15px; }
h2{ font-size: 24px; margin-top: 0; }
h3{ font-size: 20px; margin-top: 0; }
h4{ font-size: 18px; margin-top: 0; }


.social-media-icons{
    background-color: #ffffff;
    height: 30px;
}

.orders, .account{
    background-color: #ffffff;
    height: 30px;
    
}

.menu ul li, .footer-menu ul li{
    display: inline;
}

.top-bar{ background: #ffffff; color: black; padding: 15px 0; }